{# apps/panel_admin/templates/panel_admin/panel_inicio.html #}
{% extends "base.html" %}
{% block title %}
    Menú Principal
{% endblock title %}
{% block body_class %}
    bg-gradient-to-br from-blue-50 to-blue-200 min-h-screen
{% endblock body_class %}
{# Usamos header específico para admin #}
{% block header %}
    {% include "includes/header_admin.html" %}
{% endblock %}
{% block content %}
    <main class="flex flex-col items-center justify-center mt-12">
        <div class="card w-full max-w-md bg-white shadow-xl mx-4 sm:mx-0">
            <div class="card-body">
                <ul class="menu bg-base-200 rounded-box w-full">
                    <li>
                        <details open>
                            <summary class="card-title text-blue-700">Gestionar</summary>
                            <ul>
                                <li>
                                    <a href="{% url 'usuario_listar' %}"
                                       class="btn btn-outline btn-primary w-full my-2">Usuarios</a>
                                </li>
                                <li>
                                    <a href="{% url 'rol_listar' %}"
                                       class="btn btn-outline btn-secondary w-full my-2">Roles</a>
                                </li>
                                <li>
                                    <a href="{% url 'cliente_listar' %}"
                                       class="btn btn-outline btn-accent w-full my-2">Clientes</a>
                                </li>
                                <li>
                                    <a href="{% url 'divisa_list' %}"
                                       class="btn btn-outline btn-info w-full my-2">Divisas</a>
                                </li>
                                <li>
                                    <a href="{% url 'tasa_cambio_listar' %}"
                                       class="btn btn-outline btn-ghost w-full my-2">Tasas de Cambio</a>
                                </li>
                                <li>
                                    <a href="{% url 'operaciones:tasa_cambio_historial_listar' %}"
                                       class="btn btn-outline btn-warning w-full my-2">Historial de Tasas de Cambio</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details open>
                            <summary class="card-title text-blue-700">Configurar</summary>
                            <ul>
                                <li>
                                    <a href="{% url 'configuracion' %}#comisiones"
                                       class="btn btn-outline btn-primary w-full my-2">Comisiones</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
