# .dockerignore
# node things
node_modules
npm-debug.log
yarn-error.log

# python things
.venv
venv
.env
.env.*
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3

# git / system
.git
.gitignore
.gitattributes
.github
.DS_Store
.vscode
*.swp
.idea

# docker build artifacts / local logs
/dist
/build
